node_modules/*
.nyc_output/*
wallet-info.txt
wallet.json
integration-test-sweet.sh
integration-test-ss.sh

docs/
coverage/

# This paragraph comes last. Force includes specific files.
!docs/README.md
